@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

@layer tailwind-base, antd;
@layer tailwind-base {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.form__input {
    @apply !rounded-none !border-0 !border-b !bg-transparent !shadow-none;

    &:hover {
        @apply !bg-transparent;
    }

    &:focus {
        @apply !bg-transparent;
    }

    &:placeholder {
        @apply !text-black;
    }
}

.form__button {
    /* m-auto flex justify-center rounded-full bg-[#E9DAE9] font-bold text-black */
    @apply !m-auto !flex !justify-center !rounded-full !bg-[#E9DAE9] !font-bold !text-black;
}
